@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Futura PT";
  src: url("../assets/fonts/Futura/FuturaPT-Light.ttf");
}
html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  /*height: auto;*/
  height: 3018px;
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
}

.header {
  width: 100%;
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  padding-left: 140px;
  padding-right: 125px;
  padding-bottom: 8px;
}

.header-container {
  width: 100%;
  display: flex;
  max-width: 1640px;
  height: 96px;
  margin-top: 15px;
  padding-top: 18px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 18px;
  justify-content: space-between;
  align-items: center;
  border-radius: 64px;
  border: 4px solid var(--main-blue-478-bf-9, #478BF9);
  margin: 0 auto;
}

.header-logo {
  max-width: 287px;
  width: 100%;
  height: 32px;
  flex-shrink: 0;
}

.nav-list {
  display: flex;
  padding: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #FFFFFF;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

.nav-link a{
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  &:hover {
    color: var(--main-blue-478-bf-9, #478BF9);
  }
}

.header-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.btn-language, .btn-secondary, .btn-sign-up {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  transition: .3s;
  cursor: pointer;
}

.btn-language {
  width: 75px;
  height: 48px;
}

.btn-language, .btn-secondary, .btn-sign-up {
  border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
}

.btn-language:hover, .btn-secondary:hover, .btn-sign-up:hover {
  background: var(--main-blue-478-bf-9, #478BF9);
}

.language-svg {
  width: 16px;
  height: 16px;
}

.language-text, .btn-secondary, .btn-sign-up {
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main {
  width: 100%;
  height: 3018px;
}

.body-content-wrapper {
  /*width: 100%;*/
  display: flex;
  max-width: 1920px;
  height:3018px;
  flex-shrink: 0;
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  padding-left: 140px;
  padding-right: 138px;
  overflow: hidden;
  z-index: 20;
  margin: 0 auto;
}

.banner {
  width: 100%;
  /*height: 100%;*/
  height: 3018px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  /*gap: 42px;*/
}

.banner-title-container {
  display: flex;
  width: 100%;
  max-width: 669px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 47px;
  margin-top: 296px;
}

.banner-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  cursor: default;
}

h1 {
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend';
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px;
}

.banner-header-blue {
  color: var(--main-blue-478-bf-9, #478BF9);
}

h2 {
  color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
  font-family: 'Lexend';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.btn-banner {
  padding: 20px 72px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  background: var(--main-blue-478-bf-9, #478BF9);
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 25;
}

.banner-center-bg {
  width: 100%;
  max-width:333.798px;
  /*max-height: 1334.22px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 37.8px;
  margin-top: -39px;
  &svg {
    width:100%;
  }
}

.banner-center-bg-line1, .banner-center-bg-line2, .banner-center-bg-line3 {
  /*max-height: 1334px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.banner-center-bg-line1 {
  animation: movingLine1 3s infinite linear;
}

@keyframes movingLine1 {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(0px, 10px);
	}

	20% {
		transform: translate(0px, 20px);
	}

	30% {
		transform: translate(0px, 30px);
	}

	40% {
		transform: translate(0px, 40px);
	}

	50% {
		transform: translate(0px, 50px);
	}

	60% {
		transform: translate(0px, 40px);
	}

	70% {
		transform: translate(0px, 30px);
	}

	80% {
		transform: translate(0px, 20px);
	}

	90% {
		transform: translate(0px, 10px);
	}

	100% {
		transform: translate(0);
	}
}

.banner-center-bg-line2 {
  animation: movingLine2 5.1s infinite linear;
}

@keyframes movingLine2 {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(0px, -5px);
	}

	20% {
		transform: translate(0px, -10px);
	}

	30% {
		transform: translate(0px, -20px);
	}

	40% {
		transform: translate(0px, -30px);
	}

	50% {
		transform: translate(0px, -40px);
	}

	60% {
		transform: translate(0px, -30px);
	}

	70% {
		transform: translate(0px, -20px);
	}

	80% {
		transform: translate(0px, -10px);
	}

	90% {
		transform: translate(0px, -5px);
	}

	100% {
		transform: translate(0);
	}
}

.banner-center-bg-line3 {
  animation: movingLine3 4.2s infinite linear;
}

@keyframes movingLine3 {
	0% {
		transform: translate(0);
	}

	10% {
		transform: translate(0px, -5px);
	}

	20% {
		transform: translate(0px, -8px);
	}

	30% {
		transform: translate(0px, -11px);
	}

	40% {
		transform: translate(0px, -14px);
	}

	50% {
		transform: translate(0px, -15px);
	}

	60% {
		transform: translate(0px, -14px);
	}

	70% {
		transform: translate(0px, -11px);
	}

	80% {
		transform: translate(0px, -8px);
	}

	90% {
		transform: translate(0px, -5px);
	}

	100% {
		transform: translate(0);
	}
}

.banner-center-bg-line1 {
  opacity: 20%;
}

.banner-center-bg-line2 {
  padding-top: 47.03px;
  opacity: 60%;
}

.banner-center-bg-line3 {
  padding-top: 28px;
  opacity: 40%;
}

.banner-blog {
  display: flex;
  width: 531px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 140px;
  z-index: 30;
}

.banner-blog-header {
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  cursor: default;
}

h3 {
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.blog-message-container {
  display: flex;
  align-items: center;
  width: 531px;
  height: 595px;
  border-radius: 100px;
  border: 3px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
  padding: 0px 16px 0px 24px;
  overflow: hidden;
}

.blog-message-text-container-wrapper {
  width: 491px;
  height: 595px;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
  height: 403px;
  margin-top: 96px;
  border-radius: 10px;
  background-color: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
}
.simplebar-scrollbar:before {
  width: 8px;
  height: 104px;
  border-radius: 10px;
  background: var(--main-blue-478-bf-9, #478BF9);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.simplebar-track.simplebar-vertical.simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}


.blog-message-text-container {
  display: flex;
  width: 467px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  & a{
    display: block;
    text-decoration: none;
  } 
}



.review-card {
  width: 467px;
  height: 146px;
  display: flex;
  padding: 16px 64px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 196px;
  background: var(--main-deep-blue-1-e-1231, #1E1231);
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  gap: 14px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background: var(--main-blue-478-bf-9, #478BF9);
  }
}

.review-card-date {
  color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
  font-feature-settings: 'liga' off;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 16px;
}

.line-light {
  width: 226.458px;
  height: 1302.469px;
  position: absolute;
  top: 120.33px;
  transform: rotate(-54.311deg);
  background: var(--main-blue-hover, linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.40) 100%));
  opacity: 0.55;
  filter: blur(150px);
  z-index: 4;
}

.dot-light {
  position: absolute;
  width: 574px;
  height: 574px;
  bottom: 0;
  right: 0;
  border-radius: 574px;
  opacity: 0.7;
  background: var(--main-blue-hover, linear-gradient(256deg, #478BF9 0%, #9DADF2 100%));
  filter: blur(325px);
  z-index: 5;
}

.footer {
  width: 100%;
  height: 100%;
  background: var(--main-deep-blue-1-e-1231, #1E1231);
}

.footer-container {
  display: flex;
  max-width: 1920px;
  width: 100%;
  padding: 40px 140px 16px 140px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 32px;
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid var(--main-blue-478-bf-9, #478BF9);
  border-right: 4px solid var(--main-blue-478-bf-9, #478BF9);
  border-left: 4px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--main-deep-blue-1-e-1231, #1E1231);
  z-index: 30;
  margin: 0 auto;
}

.footer-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 5px;
  & a {
    text-decoration: none;
    color: var(--main-clean-white-ffffff, #FFF);
  }
  & a:hover {
    color: var(--main-blue-478-bf-9, #478BF9);
  }
}

.footer-pages div {
  transition: .3s;
  cursor: pointer;
}

.footer-pages div:hover {
  color: var(--main-blue-478-bf-9, #478BF9);
  text-align: center;
  font-family: 'Lexend';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.footer-socials-text {
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: right;
  font-family: 'Lexend';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.footer-icon {
  cursor: pointer;
  transition: .3s;
}

.footer-svg-fill {
  fill: #478BF9;
  transition: .3s;
}
.footer-icon:hover .footer-svg-fill{
  fill: url(#paint0_linear_4301_201);
}